@media (max-width: 992px) { 
    *{
        max-width: 991px;
        width: 50vh;
    }
    .navbar-list {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .categoria {
        width: 50vh;
    }
 }
 @media (max-width: 575.98px) {
    *{
        max-width: 991px;
        width: 50vh;
    }
    .navbar-list {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .categoria {
        width: 50vh;
    }
    #hero {
        display: flex;
        margin-top: 70px;
        margin-left: 40px;
        justify-content: center;
        align-items: center;
    }
    
    .textos {
        display: flex;
        flex-direction: column;
        color: aliceblue;
        gap: 15px;
        width: 33%;
    }
    
    .textos h1 {
        font-size: 20px;
        font-weight: 900;
    }
    
    .textos h2 {
        font-size: 30px;
        font-weight: 500;
    }
    
    .textos p {
        font-size: 20px;
        font-weight: 400;
    }

    
.imagenes img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30%;
}
.img1 {
    width: 20%;

}

.img2 {
    width: 20%;

}

  }